In [ ]:
library(data.table)

In [ ]:
library(DT)

In [ ]:
library(titanic)

Let's explore the package "titanic".

In [ ]:
data(package = "titanic")

In [ ]:
head(titanic_train)

In [ ]:
head(titanic_test)

Let's convert our dataset from data frame shape to data table.

In [ ]:
titanics <- copy(titanic_train)
setDT(titanics)

Let's find out about the people who survived in Titanic as a first class passenger and also younger than or equal to 20 years old by using i operations.

In [ ]:
titanics[Survived==1 & Pclass ==1 & Age <= 20]

Let's show how much would it cost for a first class surviver a ticket today and show their identities by using j operations.

In [ ]:
titanics[Survived == 1 & Pclass == 1, .(Name, Sex, Age, Fare, FareToday = Fare*34)]

Let's add FareToday as an additional column.

In [ ]:
titanics[Survived == 1 & Pclass == 1, FareToday := Fare*34]

In [ ]:
titanics[Survived == 1 & Pclass == 1, .(Name, Sex, Age, Fare, FareToday)]

Let's generalize it to the other passengers too.

In [ ]:
titanics[!is.na(Fare), FareToday := Fare*34]

In [ ]:
titanics[, .(Name, Sex, Age, Fare, FareToday)]

Let's have a short summary about passengers using by operations.

In [ ]:
titanics[, .(maxFare = max(Fare, na.rm=T), minFare = min(Fare, na.rm=T), oldest = max(Age, na.rm=T), youngest = min(Age, na.rm=T)),
         by = c("Survived", "Pclass")]

In [ ]:
titanicsinfo <- titanics[, .(maxFare = max(Fare, na.rm=T), minFare = min(Fare, na.rm=T), oldest = max(Age, na.rm=T), youngest = min(Age, na.rm=T)),
         by = c("Survived", "Pclass")]

Let's use dcast function to summarize columns into raws and columns across two discete/categoric variables.and columns across two discete/categoric variables.

In [ ]:
titanic_wide <- dcast(titanicsinfo, Pclass ~ Survived, value.var= "maxFare")

In [ ]:
titanic_wide

Let's make it long again.

In [ ]:
melt(titanic_wide, id.vars= "Pclass", variable.name = "survived", value.name = "Fares")