In [ ]:
library(tidyverse)
library(magrittr)
library(data.table)
library(DT)
library(datasets)

In [ ]:
install.packages("titanic")
library(titanic)
data(package= "titanic")

Let's find out about the Mr & Mrs in Titanic.

In [ ]:
titanic_train$Name %>% str_subset("Mr") %>% as.data.frame

In [ ]:
titanic_train$Name %>% str_extract_all("Mr") %>% head(13)

In [ ]:
titanic_train$Name %>% str_replace_all("Mr", "Rich and old") %>% head %>% as.data.frame

In [ ]:
titanic_train$Name %>% str_which("Mr")

In [ ]:
titanic_train$Name %>% str_subset("Harry") %>% as.data.frame

Let's remember the famous movie.

In [ ]:
titanic_train$Name %>% str_replace("Harry", "DiCaprio") %>% str_subset("DiCaprio") %>% as.data.frame

In [ ]:
titanic_train$Name %>% str_detect("Miss") %>% unlist

In [ ]:
titanic_train$Name %>% str_subset("h+y") %>% as.data.frame

In [ ]:
titanic_train$Name %>% str_subset("J*m+") %>% as.data.frame %>% head

In [ ]:
titanic_train$Name %>% str_subset("M?m+") %>% as.data.frame %>% head

In [ ]:
titanic_train$Name %>% str_subset("a.*b") %>% head

In [ ]:
titanic_train$Name %>% str_subset("Mr|Miss") %>% head

In [ ]:
titanic_train$Name %>% str_replace("Mr|Miss", "Rich") %>% head

In [ ]:
titanic_train$Name %>% str_subset("J\\w") %>% head

Let's find out about the poorer ones.

In [ ]:
titanic_train$Name %>% str_replace_all("\\w+, ", "") %>% str_subset("^Miss|Mr", negate=T)

How common is "ey" ending?

In [ ]:
titanic_train$Name %>% str_subset("ey$")

Lets exclude the names with the most common letter "e"!

In [ ]:
titanic_train$Name %>% str_subset("^[^e]+$")

In [ ]:
titanic_train$Name %>% str_subset("^[^e]+$") %>% str_subset("o$") %>% str_extract_all("\\w{3}\\b")

To be able to use "\d" let's check out Cabin numbers since there is no digits in the names.

In [ ]:
titanic_train$Cabin %>% str_subset("\\d")

This way we can learn about the gasts who rented more than 1 cabin and may assume they have families.

In [ ]:
titanic_train$Cabin %>% str_subset("\\d\\s")

In [ ]:
titanic_train$Cabin %>% str_subset("[C]")

Let's go back to names. Names that start with M and ends with m.

In [ ]:
titanic_train$Name %>% str_replace_all("\\w+, ", "") %>% str_subset("(M\\w+ ?)+(?=m)")

There were "Masters". Let's learn about them with lookbehind.

In [ ]:
titanic_train$Name %>% str_replace_all("\\w+, ", "") %>% str_subset("(?<=^Master\\.\\s)\\w+")